<div class="span0 well text-center">
  <% if logged_in? %>
    <%= link_to path.call(*resources, vote: true), method: 'post', remote: true do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <br/>
  <% end %>
    <span id="<%= resources[-1].class.name + resources[-1].id.to_s %>"><%= "#{vote_count} #{vote_count.abs == 1 ? 'vote' : 'votes'}" %></span>
  <% if logged_in? %>
    <br/>
    <%= link_to path.call(*resources, vote: false), method: 'post', remote: true do %>
      <i class="icon-arrow-down"></i>
    <% end %>
  <% end %>
  </div>