<div class="span0 well text-center">
    <%= link_to path.call(resource, vote: true), method: 'post' do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <h5><%= resource.total_votes %></h5>
    <%= link_to path.call(resource, vote: false), method: 'post' do %>
      <i class="icon-arrow-down"></i>
    <% end %>
  </div>